<template>
  <div id="product-list-two">
      <h2> product list two</h2>
      <ul>
                  <li v-for="product in sendPropFromAppVue" :key="product">
                 {{product.name}}{{product.id}}
                 </li>
      </ul>
      <button v-on:click="counter">Add 1</button>
  </div>
</template>
<script>
import {mapActions} from 'vuex';
export default {
computed:{
     sendPropFromAppVue(){
        return this.$store.state.products;
         }
    },
    // methods:{
    //   counter:function(){
    //     //products come from store
    //     this.$store.state.products.forEach(product=>{
    //       product.id -=1;
    //     })
    //   }
    // }

    // now we have to called commited 
     methods:{
      //counter:function(){
        // now instaed of directly commiting like below we will dispatch an action
    // this.$store.commit('counter');
     // this.$store.dispatch('counter') i want to try mapActions
     ...mapActions([
       'counter'
     ])

      }
    //}
}








//   props:['sendPropFromAppVue'], we no longer need this after we create our store
// and we not need access from data we do it from computed data
//   data(){
//       return{
// }}
</script>


















<style scoped>
#product-list-two{
    background-color: darkkhaki;
}
</style>>


