<template>
  <div id="product-list-one">
    <h2>product list one</h2>
    <ul>
      <li v-for="product in saleProducts" :key="product.id">
        {{ product.name }}
      </li>
    </ul>
    
  </div>
</template>
<script>
export default {
  //   props:['sendPropFromAppVue'], we no longer need this after we create our store
  // and we not need access from data we do it from computed data
  computed: {
    sendPropFromAppVue() {
      return this.$store.state.products;
    },
    saleProducts(){
        return this.$store.getters.saleProducts;
        // var saleProducts = this.$store.state.products.map(product=>{
        //     return{
        //         name : '**'+ product.name,
                
        //     }
        // });
        // return saleProducts;
    }
  }, 
};
</script>
<style  scoped>
#product-list-one {
  background-color: bisque;
}
</style>>


