<template>
  <div id="app">
<!-- <product-list-one v-bind:sendPropFromAppVue="products"/>
<product-list-two v-bind:sendPropFromAppVue="products"/>
from now after importing mystore in main.js we dont need this binding -->
<product-list-one />
<product-list-two />
  </div>
</template>

<script>
import ProductListOne from './components/ProductListOne.vue'
import ProductListTwo from './components/ProductListTwo.vue'


export default {
  components: { ProductListOne, ProductListTwo },
  name: 'app',
   data(){
     return{
      //  products:[
      //    {name:'Atmar', id:1},
      //    {name:'Mursal', id:2},   move it from here to store 
      //    {name:'Jaz', id:3},
      //    {name:'Anaya', id:4},
      //  ]
     }
   }
}
</script>

<style>

</style>
